*
{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
   
}
.container{
    border: px solid red;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.maincontainer{

    border: px solid rgb(45, 143, 4);
    width: 40%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #26547b;
}

.subcontainer{
   border: px  rgb(0, 38, 255) solid;
    width: 80%;
    height: 90%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    justify-content: space-around;
    background-color: #ef4770;
    border-radius:10px;
    box-shadow: 0px 10px #ed194c;
}

.screen {

    border:px solid rgb(255, 68, 0);
    width:90%;
    height: 20%;
    display: flex;
    justify-content: center;
    justify-content: flex-start;
    align-items: center;
    justify-content: space-between;
    
}

.left {
    border: px solid green;
    width:20%;
    height: 70%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 5px #cd9103;
    background-color:#ffd166;

}

.right{
    border: px solid green;
    width:70%;
    height: 70%;
    border-radius: 10px;
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    align-items: center;
    background-color: #26537d;
    box-shadow: 0px -5px #102d42;



}

.row1{
    border:px solid rgb(255, 68, 0);
    width:90%;
    height: 20%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    justify-content: space-around;
}

._7{
    border: px solid green;
    width:20%;
    height: 70%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #26547b;
    box-shadow: 0px 5px #102d42;

}

._8{
    border: px solid green;
    width:20%;
    height: 70%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #26547b;
    box-shadow: 0px 5px #102d42;
}

._9{
    border: px solid green;
    width:20%;
    height: 70%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #26547b;
    box-shadow: 0px 5px #102d42;
}

.x{
    border: px solid green;
    width:20%;
    height: 70%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 5px #cd9103;
    background-color:#ffd166;
}
.row2{
    border:px solid rgb(255, 68, 0);
    width:90%;
    height: 20%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    justify-content: space-around;
  
}

._4{
    border: px solid green;
    width:20%;
    height: 70%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #26547b;
    box-shadow: 0px 5px #102d42;
}

._5{
    border: px solid green;
    width:20%;
    height: 70%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #26547b;
    box-shadow: 0px 5px #102d42;
}

._6{
    border: px solid green;
    width:20%;
    height: 70%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #26547b;
    box-shadow: 0px 5px #102d42;
}

.divide{
    border: px solid green;
    width:20%;
    height: 70%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 5px #cd9103;
    background-color:#ffd166;
}


.row3{
    border:px solid rgb(255, 68, 0);
    width:90%;
    height: 20%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    justify-content: space-around;
}

._1{
    border: px solid green;
    width:20%;
    height: 70%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #26547b;
    box-shadow: 0px 5px #102d42;
}

._2{
    border: px solid green;
    width:20%;
    height: 70%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #26547b;
    box-shadow: 0px 5px #102d42;
}

._3{
    border: px solid green;
    width:20%;
    height: 70%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #26547b;
    box-shadow: 0px 5px #102d42;
}

.plus{
    border: px solid green;
    width:20%;
    height: 70%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 5px #cd9103;
    background-color:#ffd166;
}


.row4{
    border:px solid rgb(255, 68, 0);
    width:90%;
    height: 20%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    justify-content: space-around;
}

.dot{
    border: px solid green;
    width:20%;
    height: 70%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #26547b;
    box-shadow: 0px 5px #102d42;
}

._0{
    border: px solid green;
    width:20%;
    height: 70%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #26547b;
    box-shadow: 0px 5px #102d42;
}

.equals{
    border: px solid green;
    width:20%;
    height: 70%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #05d6a0;
    box-shadow: 0px 5px #0c8964;
}

.minus{
    border: px solid green;
    width:20%;
    height: 70%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 5px #cd9103;
    background-color:#ffd166;
}

h3{

font-family:sans-serif ;
}